@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
    --amarilloBase: #ffde59;
    --verdeBase: #03cbaf;
    --negroBase: #212529;
  
    --fontSizeBase: 1.6rem;
  
    --fontSizeTitulo1: 4rem;
    --fontSizeTitulo2: 3.2rem;
    --fontSizeTitutlo3: 2rem;
    --fontSizeTitulo4: 1.1rem;
  
    --redondeado1: 1rem;
    --redondeado2: 0.5rem;
    --border-radius-size: 14px;
  }
  .container-fluid {
    padding: 0;
  }
.contenedor {
    padding: 0;
    margin: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }

  /* navbar */

  .nav-a {
    font-weight: 500;
    color: var(--negroBase) !important;
    text-decoration: none;
    display: block;
    position: relative;
    z-index: 5;
   padding: 8px 16px;
   transition: all .8s;
   }

   .nav-a:before {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 0;
    height: 5%;
    bottom: 0.6em;
    margin-left: -3%;
    transition: all .8s;
    color: var(--negroBase);
    text-decoration: none;
    z-index: -100;
   }
   .nav-a:hover:before {
    background-color: var(--verdeBase);
    width: 85%;
   }
   .nav-a:hover{
    color: var(--negroBase);
    transform: translateY(2px);
}

   /* logo */
  .logo {
    font-weight: 700;
    color: var(--negroBase);
    text-decoration: none;
    display: block;
    position: relative;
    font-size: var(--fontSizeTitulo4);
  }
  .logo:hover{
      color: var(--negroBase);
  }
  .logo-span {
    padding: 0 5px;
    font-size: var(--fontSizeTitulo3);
    background: linear-gradient(
      to bottom,
      transparent 50%,
      var(--amarilloBase) 50%
    );
    font-style: italic;
  }
  .logo-span:hover {
    background: linear-gradient(to bottom, transparent 50%, var(--verdeBase) 50%);
    color: var(--negroBase);
  }

  /* iniciar sesion */

  .iniciar-sesion {
    display: block;
    padding: 0.5rem;
    margin-right: 30px;
    text-decoration: none;
   font-weight: 500; 
    padding-bottom: 8px ;
    color: var(--verdeBase) !important;
    background: linear-gradient(
      to bottom,
      transparent 70%,
      var(--amarilloBase) 10% );
      background-position-y: -.5rem;
      transition: all .8s;
  }
  .iniciar-sesion:hover {
      transform: translateY(2px);
  }
  .iniciar-sesion:before {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 0;
    height: 5%;
    bottom: 0.6em;
    margin-left: -3%;
    transition: all .8s;
    color: var(--negroBase);
    text-decoration: none;
    z-index: -100;
   }
   .iniciar-sesion:hover:before {
    background-color: var(--verdeBase);
    width: 95%;
   }
  
  
/* boton */

  .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.0);
    border-color: rgba(0, 0, 0, 0);
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 31, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* fin navbar */

/* header */

.enunciado {
    margin-top: 25vh;
    font-size: var(--fontSizeTitulo);
    text-align: center;
    max-height: 47vh;
}

.pass-span {
    padding: 0 5px;
    font-size: var(--fontSizeTitulo);
    background: linear-gradient(
      to bottom,
      transparent 50%,
      var(--amarilloBase) 50%
    );
    font-weight: 700;
    font-style: italic;
    transition: 1s;
  }
  .pass-span:hover {
    background: linear-gradient(to bottom, transparent 50%, var(--verdeBase) 50%);
  }

  .boton-destinos {
    margin-top: 2rem;
    font-weight: 700;
    font-size: 1.25rem;
    background-color: var(--amarilloBase);
    color: var(--verdeBase);
    border: none;
    height: 2.5rem;
    width: 7rem;
    border-radius: var(--redondeado2);
    box-shadow: 3px 5px 0px 1.5px var(--verdeBase);
    transition: all 0.8s;
  }
  .boton-destinos:hover {
    color: var(--amarilloBase);
    background-color: var(--verdeBase);
    box-shadow: 3px 5px 0px 1.5px var(--amarilloBase);
    height: 2.7rem;
    transform: translateY(2px);
  }

  .shrek-img {
    
  
  }
  
  .img {
    position: absolute;
   bottom: 0;
  left: 50%;
height: 15em;
transform: translateX(-50%);
  }

  
  


/* fin Header */

/* catalogo */
.nuestros-destinos {
  justify-content: center;
  height: 15vh;
}
.titulo {
  text-align: center;
  font-size: calc(1.375rem + 1.5vw);
  margin-top: 3rem;
}
.subtitulo {
  font-size: calc(.5rem + 1.5vw);
}
@media (min-width: 1200px) {
  .titulo {
    font-size: 2rem;
  }
  .subtitulo {
    font-size: 1.3rem;
  }
}
.glider-contenedor {
  display: flex;
  align-items: center;
  margin-top: 2em;
  height: 60vh;

}

/* carta */ 

.card-contenedor {
  position: relative;
  height: 18em;
  width: 12em;
  background-color: white;
  border-radius: 30px;
  border: 1px solid grey;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
}
.img-contenedor {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -2em;
  height: 12.5em;
  width: 12em;
}
.titulo-contenedor {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 10.5em;
  height: 1.7em;
  width: 12em;
}
.titulo-carta {
  
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
}

.valores-contenedor {
  display: flex;
  position: absolute;
  align-items: center;
  top: 12em;
  height: 3em;
  width: 12em;
}
.valor-i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1em;
  background-color: black;
  height: 2.5em;
  width: 2.5em;
  margin: 0.1em;
  padding: 0.4em;
  border-radius: 50%;
  color: white;
}
.valor {
  position: absolute;
  left: 4em;
  font-size: 1.2em;
  font-weight: 700;
}
.tiempo {
  top: 14.7em;
}
.categoria-i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10.5em;
  top: 16em;
  background-color: red;
  height: 2.5em;
  width: 2.5em;
  margin: 0.1em;
  padding: 0.4em;
  border-radius: 50%;
  color: white;
}

/* fin carta */
/* fin catalogo */

/* lista */

.boton-quiero {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 1.25rem;
  background-color: var(--verdeBase);
  color: var(--amarilloBase);
  border: none;
  height: 2.5rem;
  width: 7rem;
  border-radius: var(--redondeado2);
  box-shadow: 0px 5px 0px 1.5px #7ff9e8;
  transition: all 0.8s;
  z-index: 100;
}
.boton-quiero:hover {
  color: var(--verdeBase);
  background-color: var(--amarilloBase);
  box-shadow: 0px 5px 0px 1.5px var(--verdeBase);
  transform: translateY(2px);
}

/* fin lista */

/* footer */


/* fin footer */
/* zonas scroll snap */
  section {
    height: 100vh;
    scroll-snap-align: start;
  }
  .viewport{
height: 100vh;
  }
  .viewport-no-nav {
    position: relative;
    height: calc(100vh - 56px) !important;
  }
  /*  fin zonas scroll snap */
  .header {
  }
  
  .catalogo {
    background-color: white;
  }
  .lista {
    background-color: white;
  }
 
  


 