/* ESTILOS BASE */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*:not(1) {
}

:root {
  --amarilloBase: #ffde59;
  --verdeBase: #03cbaf;
  --negroBase: #212529;

  --fontSizeBase: 1.6rem;

  --fontSizeTitulo1: 4rem;
  --fontSizeTitulo2: 3.2rem;
  --fontSizeTitutlo3: 2rem;
  --fontSizeTitutlo3: 1.8rem;

  --redondeado1: 1rem;
  --redondeado2: 0.5rem;
  --border-radius-size: 14px;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body{
  margin: 0;
}
/* */
.progress-container {
  z-index: 1;
  width: 100%;
  height: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  backdrop-filter: blur(0.8rem);
}
#progress {
  width: 50%;
  height: 100%;
  background-color: var(--verdeBase);
}

/* navbar */
nav {
  z-index: 1;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  top: 1rem;
  left: 0;
  padding: 2rem 10rem;
  background-color: white;
  background-color: blur(0.8rem);
}
#logo {
  font-size: var(--fontSizeTitutlo3);
  font-weight: 700;
}
#logo-span {
  font-size: var(--fontSizeTitulo3);
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}
nav a {
  color: var(--negroBase);
  text-decoration: none;
  display: block;
  position: relative;
  font-size: var(--fontSizeTitutlo3);
}
nav a:hover{
  color: var(--negroBase);
}
/* Navbar Link Hover */
nav li a:before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 0;
  height: 45%;
  bottom: 0;
  margin-left: -3%;
  transition: all 0.5s;
  color: var(--negroBase);
  text-decoration: none;
  z-index: -1;
}
nav li a:hover:before {
  background-color: var(--verdeBase);
  width: 105%;
}
nav span {
  padding: 0 5px;
  font-size: var(--fontSizeTitulo3);
  background: linear-gradient(
    to bottom,
    transparent 50%,
    var(--amarilloBase) 50%
  );
  font-style: italic;
}

/* header */
header {
  padding: 5rem;
  display: flex;
  height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
}
.enunciado {
  display: flex;
  position: absolute;
  margin-bottom: 13rem;
  font-size: var(--fontSizeTitulo);
}
h1 {
  font-size: var(--fontSizeTitulo1);
}
.pass-span {
  padding: 0 5px;
  font-size: var(--fontSizeTitulo1);
  background: linear-gradient(
    to bottom,
    transparent 50%,
    var(--amarilloBase) 50%
  );
  font-weight: 700;
  font-style: italic;
  transition: 1s;
}
.pass-span:hover {
  background: linear-gradient(to bottom, transparent 50%, var(--verdeBase) 50%);
}
.boton-destinos {
  font-weight: 700;
  font-size: 2rem;
  background-color: var(--amarilloBase);
  color: var(--verdeBase);
  border: none;
  height: 4rem;
  width: 14.5rem;
  border-radius: var(--redondeado2);
  box-shadow: 3px 5px 0px 1.5px var(--verdeBase);
  transition: all 0.5s;
}

.boton-destinos:hover {
  color: var(--amarilloBase);
  background-color: var(--verdeBase);
  box-shadow: 3px 5px 0px 1.5px var(--amarilloBase);
  height: 3.5rem;
}
.shrek-img {
  display: flex;
  position: absolute;
  z-index: -1;
  height: 50vh;
  margin-top: 50vh;
}
.wave-img {
	display: flex;
	position:absolute;
  max-height:40vh;
	z-index: -1;
	margin-top: 95vh;
	padding:0;
 
}

/* main */
main {
 padding-top: 5rem;
 padding-bottom: 0;
 margin: 0;
 max-height: 100vh;
}
/* catalogo */

/*cartas*/
.card {
  height: 100%;
  border-radius: 3.5rem;
  border: 3px solid #c7d0d8;
  box-shadow: 5px 5px 0px 3px #77838d;
  font-family: "Poppins", sans-serif;
}

/*carrusel*/
.container {
  max-height: 100vh ;
}
.contenedor {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
  margin-bottom:-5rem;
}
section ul {
  list-style: none;
}
section a {
  list-style: none;
}
.caja {
  width: 35vh;
  height: 60vh;
  border-radius: 3.5rem;
  border: 3px solid #c7d0d8;
  box-shadow: 5px 5px 0px 3px #77838d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px;
}
.modelo {
  height: 40vhvh;
  max-height: 100%;
  max-width: 100%;
}
.titulo-carta {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.detalles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}
.categoria {
  display: flex;
  height: 5rem;
  margin-top: 20px;
  margin-left: 240px;
}

