<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
        version="5.0">
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
    <filter-mapping>
        <filter-name>adminFilter</filter-name>
        <url-pattern>/panelDeControl.do</url-pattern>
        <url-pattern>/panelDeControl_promociones.do</url-pattern>
        <url-pattern>/panelDeControl_usuarios.do</url-pattern>
        <url-pattern>/panelDeControl_itinerarios.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>loggedFilter</filter-name>
        <url-pattern>/personalItinerary.do</url-pattern>
        <url-pattern>/recomendaciones.do</url-pattern>
    </filter-mapping>
</web-app>
